.footer {
  display: flex;
  margin: 40px 0 20px;
  padding: 40px 16px 8px;
  border-top: 1px solid #d0d7de;
  justify-content: center;
}

.item {
  margin-right: 10px;
}

.link {
  color: #0969da;
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  text-decoration: underline;
}